<div id='vistaOrdenes'>
    <ul id='menuOrdenes' class='nav nav-tabs'>
        <li id='info' class='active'><a href="#panelInfo" data-toggle="tab">Información</a></li>
        <li id='inicio'><a href="#panelInicio" data-toggle="tab">Inicio</a></li>
        <li id='fin'><a href="#panelfin" data-toggle="tab">Fin</a></li>
    </ul>
    <div id="panel" class="tab-content">
        <div class="tab-pane fade in active" id="panelInfo">
            <h1>PANEL INFORMACION</h1>
        </div>
        <div class="tab-pane fade" id="panelInicio">
            <h1>PANEL INICIO</h1>
        </div>
        <div class="tab-pane fade" id="panelfin">
            <h1>PANEL FIN</h1>
        </div>
    </div>
</div>